<!doctype html>
<html lang="es"> <!--esto es para especificar e idioma de nuestra pagina web-->

<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<!-- Orden del archivo debe ser librerias, plugins,main.css-->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div class="container">
		<!--header.header-page-->
		<header class="header-page">
			<h1>Título de la página</h1>
		</header>
		
		<!--nav.nav-page-->
		<nav class="nav-page">
			<!--ul>(li>a{item $})*4-->
			<ul>
				<li><a href="#">item 1</a></li>
				<li><a href="#">item 2</a></li>
				<li><a href="#">item 3</a></li>
				<li><a href="#">item 4</a></li>
			</ul>
		</nav>
		
		<main class="main-page">
			<!--(section.section-page>h2{sección $}+p>lorem50)*4-->
			<section class="section-page">
				<h2>sección 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolor ad, quia quam quod incidunt assumenda nam aut dolore, accusantium, perferendis neque provident voluptates ex similique aspernatur officiis quaerat ab nostrum earum! Velit pariatur provident iusto nam quisquam nostrum, recusandae quaerat repellat ducimus quae facilis. Vel, maxime qui consequuntur doloremque?</p>
			</section>
			<section class="section-page">
				<h2>sección 2</h2>
				<p>Eos, eaque, doloremque. Adipisci, aperiam repellat assumenda eligendi ratione hic, cupiditate illo accusantium quos magnam in, laborum fugit molestiae unde suscipit obcaecati sit et error ea culpa vitae quis doloribus quibusdam quidem. Vitae minima deleniti, voluptate iste voluptates dolorum laudantium excepturi modi deserunt sint, dolores, dignissimos ducimus? Modi, aliquid, voluptas.</p>
			</section>
			<section class="section-page">
				<h2>sección 3</h2>
				<p>Nemo voluptate quisquam iusto, facilis reiciendis cum ex aliquam quam modi nihil quidem voluptatem dolores in, dolor quo sint commodi. Maiores ducimus eveniet accusantium earum ex a laborum ipsa quisquam, necessitatibus, iusto molestias deleniti dicta quasi commodi magnam corporis illo facilis consectetur architecto! Numquam omnis reiciendis, ullam nulla aliquam ipsum!</p>
			</section>
			<section class="section-page">
				<h2>sección 4</h2>
				<p>Debitis harum minus necessitatibus quibusdam laborum voluptas ratione, incidunt illum doloremque veritatis at eveniet eos iure quisquam sunt, minima ducimus consequatur odio, neque, ex. Sit necessitatibus corrupti quos, voluptatibus, autem ipsum. Adipisci voluptate veniam sint sit ipsa temporibus veritatis error eveniet hic molestias architecto rem dicta enim, a cum quae.</p>
			</section>
		</main>
		
		<footer class="foter-page">
			<p>Todos los derechos reservados | Mónica Nicolás | 2017</p>
		</footer>
		
	</div>

<!--Vincular los documentos java scrips siempre antes de la etiqueta de cierre de body-->
	<div id="js">
		<script src="js/lib/jquery-3.2.1.min.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>
