@charset "UTF-8";

/* fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

/* Aqui empieza el estilo general */
body{margin: 0; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;}

ul,ol{margin: 0; 
    padding: 0; 
    list-style-type: none;}

img{display: block;
     max-width:100%;}

.container{ max-width: 1200px;
     margin: 0 auto;}
/* Aqui empieza el estilo de header */

.header-page{
    background-color: #f5879f;
    padding: 100px 0;
}

.header-page h1{
    margin: 0;
    color: #b486f0;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;

}


/* Aqui empieza el estilo nav */

/* Aqui empieza el estilo main */
.main-page{
    padding: 65px 0;
}

.main-page h2{
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    color: #ca9f12;
}

.main-page h2:first-child {
    margin-top: 0;
    
}
/* Aqui empieza el estilo footer */

.footer-page{
    background-color: #6b6868;
    padding: 50px 0;
    text-align: center
}

.footer-page p{
    margin: 0;
    color: #b1a9a9
}

/* Forms */
.form { border: 1px solid #87878b; 
    padding: 25px 50px;
    max-width: 50%;
    margin: 0 auto;
   
}

.form__label { 
    display: block;
margin-bottom: 2px;
font-weight: 600;}

.form__element{margin-bottom: 15px;}

.form__input, 
.form__textarea,
.form__select{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #87878b;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;

     /* 
        box-sizing con un valor border-box va a provocar que el valor de la propiedad
        pading y el ancho de la propiedad border se tomen del ancho del elemento, es decir
        no los va a sumar (comportamiento por defecto)
      */
}
.form__input:focus,
.form__textarea:focus {
    border-color: #eeee0b;
}

.form__select{
    background-color: transparent;
    height: 30px;
    font-size: 14px;
}
/* esto es para dar estilo cuando se desactiva un campo y que se note que esta desactivado
.form__input:disabled,
.form__textarea:disabled {
   background-color: #f5f5f5;
   color:#999;
} */

.form__textarea {
    height: 100px;
}

.form__button{
    background-color:transparent; 
    padding: 15px 25px; 
    border: 1px solid #f3a5e9;
    font-size: 16px;
    cursor: pointer;
    color: #daa0e9;
    transition: all .3s;
}

.form__button:hover{
    background-color: #f7f7d2;
}

.form__button--main{
    background-color: #eeee0b;
    border-color: #eeee0b;
    color: #FFF;
}

.form__button--main:hover{
    background-color: #f7f7d2;
}
.form label.error{
    color: #9b0952;
}

.form__input.error,
.form__textarea.error{

    background-color: rgba(154, 8, 81, 0.1);
    
}

/* Aqui empieza el estilo helper */
.clearfix:before,
.clearfix:after{
    content: "";
    display: block;
}

.clearfix:after{
    clear: both
}